<div class="brands__wrapper">
    <div class="brands">
        <div class="brands__item"><a href="#" class="brands__link"><img src="img/svg/16_Andrew-Porter-Logo.svg" alt="" srcset="" width="156" height="113"></a></div>
        <div class="brands__item"><a href="#" class="brands__link"><img src="img/svg/17_Jalen-Rose-Leadership-Academy-Logo.svg" alt="" srcset="" width="156" height="113"></a></div>
        <div class="brands__item"><a href="#" class="brands__link"><img src="img/svg/PhalenLeadership.svg" alt="" srcset="" width="156" height="113"></a></div>
        <div class="brands__item"><a href="#" class="brands__link"><img src="img/svg/Wal.svg" alt="" srcset="" width="156" height="113"></a></div>
        <div class="brands__item"><a href="#" class="brands__link"><img src="img/svg/Ideal.svg" alt="" srcset="" width="156" height="113"></a></div>
    </div>
</div>