<section class="case_wrapper">
    <div class="container case_container_start">
        <img src="img/Bitmap.png" alt="Bitmap" width="736" height="551" class="case_image case_image-right">
        <div class="case_desc">
            <h1>The wall new Balenciaga.com</h1>
            <p>This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.</p>
            <a href="#" class="link">See Case Study</a>
        </div>
        
    </div>

    <div class="case-comment case-comment_right">
        <p>“In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”</p>
        <div class="case-comment_title">
            <img src="img/comment-val-1.png" alt="Comment" width="40" height="40">
            <div class="case-comment_title-content">
                <h3>Lina Hart</h3>
                <span>Founder & CEO, Jico</span>
            </div>
        </div>
    </div>

</section>