<footer class="footer">
  <div class="container">

    <div class="footer-top">
      <div class="footer-top_item">
          <h3>Phone</h3>
          <a href="tel:+3250312832" class="footer-title">+32 50 31 28 32</a>
      </div>

      <div class="footer-top_item">
          <h3>Address</h3>
          <address class="footer-title">491 Merlin Crest Suite 963</address>
      </div>
    </div>

    <div class="divide"></div>

    <div class="footer-middle">
      <div class="footer_item">
        <h3 class="footer-title">Services</h3>
        <ul class="footer_item-list">
          <li class="footer_item-list_item">Strategy Design</li>
          <li class="footer_item-list_item">Product Design</li>
          <li class="footer_item-list_item">Content Strategy</li>
          <li class="footer_item-list_item">Brand Strategy</li>
          <li class="footer_item-list_item">Development</li>
        </ul>
      </div>

      <div class="footer_item">
        <h3 class="footer-title">Services</h3>
        <ul class="footer_item-list">
          <li class="footer_item-list_item">Strategy Design</li>
          <li class="footer_item-list_item">Product Design</li>
          <li class="footer_item-list_item">Content Strategy</li>
          <li class="footer_item-list_item">Brand Strategy</li>
          <li class="footer_item-list_item">Development</li>
        </ul>
      </div>

      <div class="footer_item">
        <h3 class="footer-title">Services</h3>
        <ul class="footer_item-list">
          <li class="footer_item-list_item">Strategy Design</li>
          <li class="footer_item-list_item">Product Design</li>
          <li class="footer_item-list_item">Content Strategy</li>
          <li class="footer_item-list_item">Brand Strategy</li>
          <li class="footer_item-list_item">Development</li>
        </ul>
      </div>

      <div class="footer_item">
        <h3 class="footer-title">Get in Touch</h3>
        <p class="footer-desc">Feel free to get in touch with us vai email</p>
        <a href="#" class="footer-address">info.webovio@gmail.com</a>
        <ul class="social">
          <li class="social_item social_fc"><a href="#" class="social_link social_link_fc"></a></li>
          <li class="social_item social_tw"><a href="#" class="social_link social_link_tw"></a></li>
          <li class="social_item social_go"><a href="#" class="social_link social_link_go"></a></li>
          <li class="social_item social_lk"><a href="#" class="social_link social_link_lk"></a></li>
        </ul>
      </div>
    </div>

    <div class="divide divide-light"></div>

    <div class="footer-bottom">
      <img loading="lazy"  src="img/svg/logo.svg" alt="Логотип" width="258" height="40">
      <span class="copyrating">© 2020@webovio. All Rights Reserved.</span>
    </div>

  </div>
</footer>
