<section class="ideas">
    <div class="container">
        <h1>Deation & Evaluation - Best Way to Kick off Your Product Idea</h1>
        <ul class="ideas-list">
    
            <li class="ideas_item">
                <h2>Product Design Sprint</h2>
                <p>A five-day workshop that will help you answer crucial business questions</p>
                <a href="#" class="link">Read More</a>
            </li>

            <li class="ideas_item">
                <h2>Product Design Sprint</h2>
                <p>A five-day workshop that will help you answer crucial business questions</p>
                <a href="#" class="link">Read More</a>
            </li>

            <li class="ideas_item">
                <h2>Product Design Sprint</h2>
                <p>A five-day workshop that will help you answer crucial business questions</p>
                <a href="#" class="link">Read More</a>
            </li>

            <li class="ideas_item">
                <h2>Product Design Sprint</h2>
                <p>A five-day workshop that will help you answer crucial business questions</p>
                <a href="#" class="link">Read More</a>
            </li>

        </ul>
    </div>
</section>